include LICENSE
include CHANGELOG.md
include _build.py
include src/.clang-format
include src/CMakeLists.txt
include src/*.cpp
include src/*.hpp
include tests/*.py

recursive-include src/third_party LICEN[CS]E* README*

include src/third_party/pybind11/CMakeLists.txt
graft src/third_party/pybind11/include
graft src/third_party/pybind11/tools
