recursive-exclude src/build* *
exclude src/icupy/*.pyd src/icupy/*.so

include _build.py LICENSE src/CMakeLists.txt src/*.cpp src/*.hpp tests/*.py

recursive-include src/third_party LICENSE* README*

include src/third_party/pybind11/CMakeLists.txt
graft src/third_party/pybind11/include
graft src/third_party/pybind11/tools
