[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
black = "*"
isort = "*"
importlib-metadata = {version = "*", markers = "python_version<'3.8'"}
zipp = {version = "*", markers = "python_version<'3.8'"}
