name: build wheels

on:
  push:
    tags: [v*]
  workflow_dispatch:

jobs:
  parse-icu-versions:
    outputs:
      latest-version: ${{steps.parse-icu-versions.outputs.latest-version}}
      json: ${{steps.parse-icu-versions.outputs.json}}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Parse icu-versions.json
        id: parse-icu-versions
        uses: ./.github/actions/parse-icu-versions

  build:
    runs-on: ${{matrix.os}}
    needs: parse-icu-versions
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, windows-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install uv and set the python version ${{matrix.python-version}}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{matrix.python-version}}

      - run: mkdir -p build

      - name: Download and set up ICU4C
        uses: ./.github/actions/setup-icu4c
        with:
          icu-versions-json: ${{needs.parse-icu-versions.outputs.json}}

      - name: Build sdist
        if: strategy.job-index == 0
        run: uv build --sdist

      - name: Build wheel
        run: uv build --wheel

      - name: Store distribution archives
        uses: actions/upload-artifact@v6
        with:
          name: dist-${{matrix.os}}-${{matrix.python-version}}
          path: |
            dist/*.whl
            dist/*.tar.gz

      - name: Run unit tests
        run: |
          uv sync
          uv pip install --no-deps --no-index --find-links=./dist/ --prerelease=allow --reinstall icupy
          uv run pytest

  merge:
    runs-on: ubuntu-latest
    needs: [parse-icu-versions, build]
    steps:
      - name: Merge artifacts
        uses: actions/upload-artifact/merge@v6
        with:
          name: dist-icupy-icu${{needs.parse-icu-versions.outputs.latest-version}}
          pattern: dist-*
          delete-merged: true
