name: tests

on:
  push:
    branches: [main]
    tags-ignore: ['**']
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, windows-latest]
        icu-version: ['70.1', '71.1', '72.1', '73.2', '74.2', '75.1', '76.1', '77.1', '78.2']
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install uv and set the python version ${{matrix.python-version}}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{matrix.python-version}}

      - name: Install dependencies
        run: |
          uv tool install tox --with tox-uv --with tox-gh

      - run: mkdir -p build

      - name: Parse icu-versions.json
        id: parse-icu-versions
        uses: ./.github/actions/parse-icu-versions
        with:
          icu-version: ${{matrix.icu-version}}

      - name: Download and set up ICU4C
        uses: ./.github/actions/setup-icu4c
        with:
          icu-versions-json: ${{steps.parse-icu-versions.outputs.json}}

      - name: Run unit tests
        env:
          TOX_GH_MAJOR_MINOR: ${{matrix.python-version}}
        run: |-
          tox run
